.container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px; /* el primero indica arriba abajo y el segundo izq y der */
  /* margin: 100px 0px */
  /* el padding crece para adentro y el margin crece para afuera */
}

.all {
  width: 100%;
  max-width: var(--maxwidth);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.imagencostado {
  width: 450px;
  border-radius: 5%;
}

.letras{
  width: 100%;
  max-width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo{
  max-width: 100%;
  font-size: 42px;
  color: #1b55c9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parrafo{
  font-size: 22px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width: 1500px) {
  .infoContainer {
    padding: 50px 20px;
    
  }
  
}
@media (max-width: 1300px) {
  .allinfo {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .letrasinfo {
      width: 100%;
      height: auto;
  }
}
@media (max-width: 650px) {
  .letrasinfo {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tituloinfo{
    font-size: 35px;
  }
  
}

