.heroContainer {
  width: 100vw;
  height: calc(100vh - 85px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenhero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  max-width: var(--maxwidth);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px 0px 50px 50px ;
}

.allhero {
  width: 100%;
  max-width: var(--maxwidth);
  height: 100%;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 0px 40px;
}

.letrashero {
  height: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulohero {
  max-width: 100%;
  font-size: 50px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.parrafohero {
  font-size: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botonhero {
  text-decoration: none;
  border-radius: 20px;
  border: #1b55c9;
  background-color: #1b55c9;
  height: 60px;
  width: 170px;
  color: white;
  font-size: 21px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonhero:hover {
  cursor: url("/imagenes/marce1.png"), auto;
  background-color: #4973b198;
}

@media (max-width: 860px) {
  .allhero {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .letrashero {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .titulohero {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .letrashero {
    width: 400px;
  }

  .titulohero {
    font-size: 34px;
  }

  .parrafohero {
    font-size: 18px;
  }

  .botonhero {
    height: 50px;
    width: 150px;
    font-size: 18px;
  }
  
}
@media (max-width: 1550px){
  .heroContainer{
    padding: 0px 20px; 
  }
}
